constraints: aeson ==1.0.1.0,
             attoparsec ==0.13.1.0,
             array ==0.5.1.1,
             base ==4.9.0.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             containers ==0.5.7.1,
             scientific ==0.3.4.9,
             binary ==0.8.3.0,
             hashable ==1.2.4.0,
             text ==1.2.2.1,
             vector ==0.11.0.0,
             primitive ==0.6.1.0,
             transformers ==0.5.2.0,
             base-compat ==0.9.1,
             unix ==2.7.2.0,
             time ==1.6.0.1,
             dlist ==0.8.0.2,
             tagged ==0.8.5,
             template-haskell ==2.11.0.0,
             ghc-boot-th ==8.0.1,
             pretty ==1.1.3.3,
             transformers-compat ==0.5.1.4,
             time-locale-compat ==0.1.1.3,
             unordered-containers ==0.2.7.1,
             ansi-terminal ==0.6.2.3,
             ansigraph ==0.3.0.2,
             base64-bytestring ==1.0.0.1,
             blaze-builder ==0.4.0.2,
             case-insensitive ==1.2.0.7,
             clock ==0.7.2,
             clock-extras ==0.1.0.1,
             connection ==0.2.6,
             byteable ==0.1.1,
             data-default-class ==0.1.2.0,
             network ==2.6.3.1,
             socks ==0.5.5,
             cereal ==0.5.3.0,
             tls ==1.3.8,
             asn1-encoding ==0.9.4,
             asn1-types ==0.3.2,
             hourglass ==0.2.10,
             memory ==0.13,
             async ==2.1.0,
             stm ==2.4.4.1,
             cryptonite ==0.20,
             mtl ==2.2.1,
             x509 ==1.6.4,
             asn1-parse ==0.9.4,
             pem ==0.2.2,
             x509-store ==1.6.1,
             x509-validation ==1.6.4,
             x509-system ==1.6.3,
             directory ==1.2.6.2,
             filepath ==1.4.1.0,
             process ==1.4.2.0,
             cookie ==0.4.2.1,
             old-locale ==1.0.0.7,
             data-default ==0.7.1.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             exceptions ==0.8.3,
             http-client ==0.4.31.1,
             http-types ==0.9.1,
             mime-types ==0.1.0.7,
             network-uri ==2.6.1.0,
             parsec ==3.1.11,
             random ==1.1,
             streaming-commons ==0.1.16,
             zlib ==0.6.1.1,
             immortal ==0.2.2,
             lifted-base ==0.2.3.8,
             monad-control ==1.0.1.0,
             transformers-base ==0.4.4,
             next-ref ==0.1.0.1,
             optparse-applicative ==0.13.0.0,
             ansi-wl-pprint ==0.6.7.3,
             statistics ==0.13.3.0,
             erf ==2.0.0.0,
             math-functions ==0.2.0.2,
             vector-th-unbox ==0.2.1.6,
             monad-par ==0.3.4.8,
             abstract-deque ==0.3,
             abstract-par ==0.3.3,
             monad-par-extras ==0.3.3,
             mwc-random ==0.13.4.0,
             parallel ==3.2.1.0,
             vector-algorithms ==0.7.0.1,
             vector-binary-instances ==0.2.3.2,
             stm-chans ==3.0.0.4,
             tabular ==0.2.2.7,
             csv ==0.1.2,
             html ==1.0.1.2,
             threads ==0.5.1.4,
             threads-extras ==0.1.0.1,
             unagi-chan ==0.4.0.0,
             atomic-primops ==0.8.0.4,
             vty ==5.11,
             microlens ==0.4.7.0,
             microlens-mtl ==0.1.10.0,
             microlens-th ==0.4.1.0,
             terminfo ==0.4.0.2,
             utf8-string ==1.0.1.1,
             wreq ==0.4.1.0,
             authenticate-oauth ==1.5.1.2,
             RSA ==2.2.0,
             SHA ==1.6.4.2,
             crypto-api ==0.13.2,
             entropy ==0.3.7,
             crypto-pubkey-types ==0.4.3,
             pureMD5 ==2.1.3,
             base16-bytestring ==0.1.1.6,
             cryptohash ==0.11.9,
             http-client-tls ==0.2.4.1,
             lens ==4.14,
             base-orphans ==0.5.4,
             bifunctors ==5.4.1,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             semigroups ==0.18.2,
             void ==0.7.1,
             distributive ==0.5.0.2,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.1,
             kan-extensions ==5.0.1,
             adjunctions ==4.3,
             reflection ==2.1.2,
             lens-aeson ==1.0.0.5,
             psqueues ==0.2.2.2,
             aeson-qq ==0.8.1,
             haskell-src-meta ==0.6.0.14,
             haskell-src-exts ==1.17.1,
             cpphs ==1.20.2,
             old-time ==1.1.0.3,
             polyparse ==1.12,
             syb ==0.6,
             th-orphans ==0.13.2,
             th-lift ==0.7.6,
             th-lift-instances ==0.1.10,
             th-reify-many ==0.1.6,
             safe ==0.3.9,
             th-expand-syns ==0.4.0.0,
             markdown-unlit ==0.4.0,
             scotty ==0.11.0,
             fail ==4.9.0.0,
             nats ==1.1.1,
             regex-compat ==0.95.1,
             regex-base ==0.93.2,
             regex-posix ==0.95.2,
             wai ==3.2.1.1,
             bytestring-builder ==0.10.8.1.0,
             vault ==0.3.0.6,
             wai-extra ==3.0.17,
             fast-logger ==2.4.6,
             auto-update ==0.1.4,
             easy-file ==0.2.1,
             unix-time ==0.3.7,
             iproute ==1.7.0,
             appar ==0.1.4,
             byteorder ==1.0.4,
             resourcet ==1.1.7.5,
             mmorph ==1.0.6,
             stringsearch ==0.3.6.6,
             unix-compat ==0.4.2.0,
             wai-logger ==2.3.0,
             word8 ==0.1.2,
             warp ==3.2.8,
             http-date ==0.0.6.1,
             http2 ==1.6.2,
             simple-sendfile ==0.2.25
